@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
html,
body {
	/* background: #fffab2; */
	font-family: 'Poppins', sans-serif;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container .form {
	background: #fff;
	padding: 30px 35px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .form form .form-control {
	height: 40px;
	font-size: 15px;
}
.container .form form .forget-pass {
	margin: -15px 0 15px 0;
}
.container .form form .forget-pass a {
	font-size: 15px;
}
.container .form form .button {
	background: #ff1346;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	transition: all 0.3s ease;
}
.container .form form .button:hover {
	background: #ff3762;
}
.container .form form .link {
	padding: 5px 0;
}
.container .form form .link a {
	color: #ff1346;
}
.container .login-form form p {
	font-size: 14px;
}
.container .row .alert {
	font-size: 14px;
}
